
.sc-layout{
    position: relative;
    >.header{
        position: absolute;
        top:0;
        left: 0px;
        width:100%;
        height: 10vh;
        background: #EFEFEF 0% 0% no-repeat padding-box;
        z-index: 10;
        display: flex;
        align-items: center;

    }
    >.header>.sc-header{
        width:100%;
        max-width: 1440px;
        margin:0 auto;
    }
    >.content{
        /* display*/
        display: flex;
        flex-direction: column;
        
        /*dimension*/
        width:100%;
        height: 90vh;

        /*position*/
        position: absolute;
        overflow-y: auto;
        top:10vh;
        z-index: 1;

        /*margin & padding*/
      
        /*other */
        background: yellow;
        border: 1px solid blue;
    }
    >.content>.footer{
        >.sc-footer{
            max-height: 238px;
          // max-height: 25vh;
        }
       
    }
}


//mobile land-scape
@media only screen and (max-width: 767px){
    .sc-layout{
        >.header{
            height: 64px;
        }
        >.content{
            /* display*/
    
            
            /*dimension*/
            height: calc(100vh - 64px);
    
            /*position*/
            top:64px;
    
            /*margin & padding*/
          
            /*other */
          
        }
    }
}